./openface-service/test
*.mp4
*.jpg
*.csv
*.avi
*.hog
*.txt
*.bmp
*.pyc
__pycache__
.$architecture.drawio.bkp
.gitignore
.$architecture.drawio.dtmp
openface-service/script_test/grpc
*.bmp
*.hog
*.avi
openface-service/script_test/grpc
.vscode/settings.json
*.DS_Store
*.vscode/
