<!DOCTYPE html>
<html>
<head>
    <title>Realtime Dot</title>
    <link rel="stylesheet" href="/templates/gaze_visualisation/style.css">
</head>
<body>
    <h1>Realtime Dot Visualization</h1>

    <div id="ip_port_box">
        <input type="text" id="ip" placeholder="adresse ip video service...">
        <input type="text" id="port" placeholder="port video service...">
        <button onclick="send_ip()">Send IP</button>
        <div id="response"></div>
    </div>

    <div id="gazex">x</div>
    <div id="gazey">y</div>

    <canvas id="canvas" width="400" height="400"></canvas>
    <script src="/templates/gaze_visualisation/app.js"></script>
</body>
</html>