body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    height: 90vh;
    background-color: aquamarine;
    /* overflow: hidden; */
}

#canvas {
    border: 2px solid rgb(26, 3, 3);
    background-color: rebeccapurple;
}
